* {
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0px;
  color:white;
}

.app{
    max-width: 500px;
    margin: auto;
}

h1{
    text-align: center;
    margin-top: 3rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.search{
    display: flex;
    padding:2.5em;
    align-items: center;
    gap:15px;
    flex-direction: column;
}

.city{
    width: 100%;
    max-width: 400px;
    padding:12px;
    border-radius: 8px;
    font-size:16px;
    border:none;
    outline: none;
}

.btn{
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    color:blue;
    cursor:pointer;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    transition: all 0.3s ease;
}

.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.btn:active{
  transform: scale(0.95);
}
 
#loading{
  font-size: 14px;
  opacity: 0.9;
}

.weather {
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(12px);   
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:2.5rem;
    max-width: 350px;
    margin:20px auto;
    border-radius: 25px;
    text-align: center;
    animation: fadeSlide 0.6s ease forwards;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

@keyframes fadeSlide {
  from {
    opacity:0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

#temp {
  font-size:2.2rem;
  font-weight: bold;
}


.extra {
  display: flex;
  justify-content: space-between;
  margin-top:15px;
  font-size: 14px;
}

.status {
    text-align: center;
    color:#ff4d4d;
    margin-top: 10px;
    font-size:16px;
}

.status:empty {
  display: none;
}

.hidden ,
.hidden2{
    display: none;
}

@media(max-width:500px){
h1{
  font-size: 2rem;
}

.weather{
  width:90%
}

}
#icon {
  width: 90px;
  margin-bottom: 10px;
}